body {
    font-family: "Oswald", sans-serif;
    overflow-x: hidden;
    margin: 0; 
    padding: 0;
    background: linear-gradient(#000000, #023047);
    background-repeat: no-repeat;
}

.titulo {
    display: flex;
    justify-content: center;
    color: #ffff;
    border: 6px solid #dda15e;  
    width: 70%;
    margin-left: 15%;
    margin-top: 80px;
    z-index: 1;  
}

.carousel-item .sello{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 8%;
    left: 2%;
}
.grill-burguers{
    color: #ffff;
    position: absolute;
    top: 11%;
    left: 13%;
    z-index: 1;
    font-size: 100px;
    font-family: "Protest Revolution", sans-serif;
}

.row-cols-1 {
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 100px;
}


.container-fluid a {
    font-size: 23px;
    margin-left: 50px;
}
.container-fluid img{
    height: 54px;
    width: 54px;
}

.card {
    margin: 50px 0 30px 0;
    height: 500px;
    width: 600px;
    background-color: #dda15e;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card-img-top {
    height: 400px;
    width: 100%;
}

.carousel-inner img {
    height: 953px;
    width: auto;
    background-position: center center;
}
.carousel-inner h5{
    font-size: 30px;
    font-weight: bolder;  
    
}
.carousel-inner a{
    font-size: 22px;
}
.carousel-caption{
    width: 1400px;
    background-color: #000000;
    
}
.row-cols-md-2{
    margin-bottom: 100px;
}
.subtitulo {
    position: absolute;
    left: 25%;
    color: #ffff;
    top: 207%;
    margin-top: 20px;
    
}
.reservas{
    color: #ffff;
    position: absolute;
    top: 15%;
    left: 40%;
    text-decoration:underline;
}
.sello-contacto{
    position: absolute;
    top: 26%;
    left: 9%;
    height: 400px;
    width: 400px;
}
.formulario {
    position: relative; /* Cambiado a relative */
    left: 50%;
    transform: translateX(-50%);
    width: 100vh;
    height: 100vh;
}
.form-floating{
    width: 300px;
}
.form-floating1{
    position: relative;
    top: 30%;
    left: 30%;

}
.form-floating2{
position: relative;
top:35% ;
left:30% ;
}

.form-floating3{
position: relative;
top:40% ;
left:30% ;
}

.form-floating4{
position: relative;
top:45% ;
left:30% ;
}
.btn{
    position: relative;
    top: 50%;
    left: 60%;
    width: 300px;
}
.subtitulo2{
    color: #ffff;
    position: absolute;
    left: 30%;
    bottom: 8%;  
}
.datos{
    color: #ffff;
    position: absolute;
    left: 40%;
    bottom: 1%;
    font-size: large;
}
footer {
    background-color: #fefae0 !important;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 20px;
}
